.header {
  background-color: #343a40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100vw;
}

.header img {
  margin-left: 2rem;
  height: 70%;
}

.header img:hover {
  cursor: pointer;
}

.header input {
  margin-right: 2rem;
  height: 50%;
  border-radius: 0.4rem;
  border: none;
}

.header input::placeholder {
  padding-left: 0.7rem;
  font-size: 1rem;
  font-family: 'Source Serif Pro';
}
